
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    :root{
        /* bg_gradient */
        --gradi-sunny:linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
        --gradi-cloudy:linear-gradient(120deg, #6ae1fa 0%, #ffffff 100%);
        --gradi-rainy:linear-gradient(to top, #cfd9df 0%, #6b6b6b 100%);
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
        
    }
    .material-symbols-outlined{font-size:18px; vertical-align: sub;}

    #wrap{width: 100%; font-family: 'Poppins', sans-serif;}
    #container{width:100%; height:100vh; display: flex; align-items: center; justify-content: center;}
    #container .inner{width:640px; height:380px; display: flex; border-radius: 25px; color:#fff; background-color:#222831; position: relative; }
    #container .inner >div{ padding:30px;}
    #weather-gradient{width:50%; height:calc(100% + 10px); position:absolute; left:0; top:-5px; border-radius: 25px; background-image: url("../image/clean.jpg"); background-size:cover; background-repeat: no-repeat;}
    #weather-gradient .bg_gradi{width:100%; height:100%; border-radius: 25px; position: absolute; left:0; top:0; opacity: .5; }
    #weather-gradient .gradi_inner{height:100%; padding:25px; display: flex; flex-direction: column; justify-content: space-between; position: absolute; left:0; top:0; }
    #weather-gradient .top .day{font-size:1.8em; font-weight: 700;}
    #weather-gradient .top .day_month_year{font-size:14px;}
    #weather-gradient .top .day_month_year .days{text-transform: uppercase;}
    #weather-gradient .top .location{display: flex; align-items: center; gap:5px;}
    #weather-gradient .bottom .temper_data{font-size:3.5em; font-weight: 700;}

    #weather-gradient.sunny{background-image: url("../image/sunny.jpg"); }
    #weather-gradient.sunny .bg_gradi{background:var(--gradi-sunny);}

    #weather-gradient.clean{background-image: url("../image/clean.jpg"); }
    #weather-gradient.clean .bg_gradi{background:var(--gradi-sunny);}

    #weather-gradient.cloudy{background-image: url("../image/cloudy.jpg"); }
    #weather-gradient.cloudy .bg_gradi{background:var(--gradi-cloudy);}

    #weather-gradient.rainy{background-image: url("../image/rainy.jpg"); }
    #weather-gradient.rainy .bg_gradi{background:var(--gradi-rainy);}

    #data-content{width:50%;  height:100%; position: absolute; right:0; top:0;}
    #data-content .data_inner{height:100%; display: flex; flex-direction: column; justify-content: space-between;}
    #data-content .data_inner .details >li{display: flex; align-items: center; justify-content: space-between; padding-bottom:10px;}
    #data-content .data_inner .details >li .txt{font-weight: 700;}

    #data-content .data_inner .select_day{display: flex; justify-content: space-between; align-items: center; background-color:#262d37; border-radius: 10px;}
    #data-content .data_inner .select_day li{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: calc(100% /4);
        height: 110px;
        padding: 15px;
        background-color:#262d37;
        border-radius: 10px;
        transition: all 0.3s ease;
        backface-visibility: hidden;
        cursor: pointer;
    }
    #data-content .data_inner .select_day li .day{font-size:13px;}

    #data-content .data_inner .select_day li.on{background:var(--gradi-sunny);}
    #data-content .data_inner .select_day li:hover{background:var(--gradi-sunny);}
 
    /* weather_icon */
    #weather-gradient .weather_icon{width:60px; height:60px;}
    .weather_icon{background-position: center; background-repeat: no-repeat; background-size:100%; width:28px; height:28px;}
    /* .weather_icon.sunny{background-image:url("./image/sunny.svg")}
    .weather_icon.cloudy{background-image:url("./image/cloudy.svg")}
    .weather_icon.rainy{background-image:url("//cdn.weatherapi.com/weather/64x64/day/116.png")} */
    #data-content .data_inner .select_day li > .weather_icon{ filter: invert(11%) sepia(42%) saturate(4%) hue-rotate(339deg) brightness(90%) contrast(77%);} 
    #data-content .data_inner .select_day li.on > .weather_icon{filter:none}
    #data-content .data_inner .select_day li.hover > .weather_icon{filter:none}

    /* #data-content .data_inner .select_day li:hover > .weather_icon{filter: invert(11%) sepia(42%) saturate(4%) hue-rotate(339deg) brightness(90%) contrast(77%);} */


    #data-content .data_inner .change_loc{
        width:100%;
        margin:0 auto;
        border-radius: 10px;
        text-align: center;
        padding:5px 0;
        background:var(--gradi-sunny);
        font-size:15px;
        box-shadow: 2px 2px 3px rgba(133, 131, 241, 0.4);
        border:0;
        cursor: pointer;
        
    }

    #data-content .data_inner .change_loc span{color:#fff; }

    .change_loc_select{text-align: center; margin-top:10px;}
    .change_loc_select select {
        width:90%;
        background-color: rgba(255,255,255,0.4);
        border: 0;
        font-family: sans-serif;        
        padding: 5px;
        border-radius: 5px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .change_loc_select option {
        background-color: white;
        color: blue;
        margin-bottom: 1px;
        cursor: pointer;
        font-family: 'Nanum Gothic', sans-serif;
        font-size:1.2em;
    }
