/* 수정 20231129 */
[data-aos=fade-up]{transform: translate3d(0,60px,0);}
:root{
    --color--oran:#F55D13;
    --box--shbl:3px 3px 5px rgba(0,0,0,0.1);
}
#container{width:100%; overflow: hidden; padding-top:120px;}
#container > section >.inner{max-width:1280px;}
section h3{font-size:1.8em; font-family: 'Jalnan', sans-serif; text-align: center;  }
.m_more{position: absolute; right:0; top:0; width:25px; height:25px; padding:7px; background-color:#808080; border-radius: 50%; display: flex;}
.m_more:hover,
.m_more:focus{transform: rotate(180deg); transition: transform 0.3s;}

.m_cont1{padding-top:115px; position: relative;}
.bg_img{max-width:1785px; margin:0 auto; position: relative;}
.bg_img::before{
    content:'';
    display: block;
    background-image: url('../images/mbg_01.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width:547px;
    height:519px;
    position: absolute;
    left: 0px;
    top: -38px;
    z-index: 8;
}
.bg_img::after{
    content:'';
    display: block;
    background-image: url('../images/mbg_02.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width:744px;
    height:598px;
    position: absolute;
    right:-103px;
    top:-160px;
    z-index: 1;
}

.m_cont1 .t_cont >.cont_inner{max-width: 668px; margin:0 auto; position: relative; z-index: 9;}
.m_cont1 .t_cont h2{font-size:70px; color:#fff; font-weight: 700; font-family: 'Jalnan', sans-serif; text-align: center; padding-bottom:20px;}
.m_cont1 .t_cont h2 >span{display: inline-block; position: relative;}
.m_cont1 .t_cont h2 >span::before{
    content: '';
    display: block;
    width:40px;
    height:40px;
    background: url('../images/mtit_icon.png') center no-repeat;
    background-size: 100%;
    position: absolute;
    top: -27px;
    left: 39px;
}
.m_cont1 .cont_inner > p{font-family: 'Gmarket Sans', sans-serif; font-weight: 400; font-size: 15px; color:#fff; text-align: center; padding-bottom: 45px;}
.m_cont1 .main_search{padding-bottom: 120px;}
.m_cont1 .main_search .serch_in{padding:10px 30px; display: flex; background-color: #fff; border-radius: 30px;overflow: hidden; box-shadow: var(--box--shbl);}
.m_cont1 .main_search .serch_in >input{width: 100%; padding-top: 4px;}
.m_cont1 .main_search .serch_in >input::placeholder{color:#333;}
.m_cont1 .main_search .serch_in >button{margin-left:5px;}
.m_cont1 .main_search .suggest_box{width: 100%; padding:20px 30px; display: flex; gap:10px; align-items: center;}
.m_cont1 .main_search .suggest_box >p{color:#bef3ff; position: relative; padding-left:20px;}
.m_cont1 .main_search .suggest_box >p::before{content: ''; display: block; width:15px; height:15px; position: absolute; left:0; top:50%; transform: translateY(-50%); background: url('../images/time_icon01.png') no-repeat; background-size:100%;}
.m_cont1 .main_search .suggest_box .suggest{width: calc(100% - 200px);}
.m_cont1 .suggest .slick-slide{ color:#fff;}
.m_cont1 .suggest .slick-slide:focus{outline-offset: -2px;}
.m_cont1 .suggest .slick-slide >p{display: inline-block; font-size:15px; }
.m_cont1 .suggest .slick-slide > .icon{display: inline-block; width:10px; height:10px; position: relative; padding:0 3px;}
.m_cont1 .suggest .slick-slide > .icon::before{content:''; display: block; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); font-size:12px;}
.m_cont1 .suggest .slick-slide > .icon.up::before{content: '▲'; color:#FF7B8B;}
.m_cont1 .suggest .slick-slide > .icon.dw::before{content: '▼'; color:#0000C0;}

.m_cont1 .b_cont {position: relative;z-index: 7;}
.m_cont1 .b_cont h3{border-bottom:1px solid #423E3E; padding-bottom:25px;}
.m_cont1 .srh_menu{padding:45px 90px; background-color:#fff; border-radius: 20px; box-shadow: var(--box--shbl);}
.m_cont1 .menu_box{padding:20px 0; position: relative; overflow: hidden;}
.m_cont1 .menu_box div{float:left; width: 80%;}
.m_cont1 .menu_box select{
    width: calc(100% / 4 - 25px);
    border-radius: 60px;
    padding:23px 30px 17px 20px;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    background:url('../images/arrow_dw.png') 90% center no-repeat;
    margin-right:20px;
    border:1px solid #DADCE0;
    font-size:18px;
}
.m_cont1 .menu_box input{
    width:calc(100% / 2 - 25px);
    height: 62px;
    padding:23px 30px 15px 20px;
    border-bottom:1px solid #DADCE0;
    border-radius: 0;
}
.m_cont1 .menu_box .btn_box{width:20%;}
.m_cont1 .menu_box .sm_btn{ width:100%; padding:22px 0 18px; border-radius: 30px; background-color:#1A5CA9; color:#fff; font-size:18px; font-weight: 700;}

.m_cont1 .noti_box{padding-top:95px; position: relative;}
.m_cont1 .noti_box .noti_inner{padding:45px 90px; background-color:#fff; border-radius: 20px; position: relative; box-shadow: var(--box--shbl);}
.m_cont1 .noti_inner li a{display: flex; padding:20px 0; border-bottom:1px dashed #9E9E9E; font-size: 18px; font-weight: 700;}
.m_cont1 .noti_inner li .isu_data{display: inline-block; color:var(--color--oran); font-family: 'Jalnan', sans-serif; font-weight: 700; padding:0 45px;}
.m_cont1 .noti_inner .m_more{right:90px; top:45px;}
.m_cont1 .noti_box::before{
    content:'';
    display: block;
    width:300px;
    height:142px;
    background:url('../images/mbg_03.png') no-repeat;
    background-size: 100%;
    position: absolute;
    left:50%;
    top:-47px;
    z-index: 8;
    transform: translateX(-50%);
}
.m_cont1::after{
    content:'';
    display: block;
    background: rgb(66,130,215);
    background: linear-gradient(306deg, rgba(66,130,215,1) 74%, rgba(24,210,241,1) 100%);
    width: 100%;
    height: 2000px;
    position: absolute;
    left:0;
    top:-200px;
    z-index: -1;
    /* 접근성 배경색 진하게*/
    /* background: rgb(32,113,217);
    background: linear-gradient(306deg, rgba(32,113,217,1) 74%, rgba(24,210,241,1) 100%); */
}

.m_cont2{position: relative; padding:50px 0; background-color:#F4F6FB;}
.m_cont2 .slide_box{max-width: 2000px; margin:0 auto; overflow: hidden;}
.m_cont2 .slide_box h3{padding-bottom:20px;}
.m_cont2 .slide_box >p{font-weight: 400; font-size:18px; color:#626262; text-align: center; padding-bottom: 38px;}
.m_cont2 .m_slide1{margin-bottom:40px;}
.m_cont2 .m_slide1 .item{width: 100%; border-radius: 20px; }
.m_cont2 .m_slide1 .item_inner{border-radius: 20px;  box-shadow: var(--box--shbl); overflow: hidden; transform: translateY(0px); transition: transform 0.3s ease 0.1s;}
.m_cont2 .m_slide1 .item:hover,
.m_cont2 .m_slide1 .item:focus{outline:0;}
.m_cont2 .m_slide1 .item:hover > .item_inner{transform: translateY(-20px); box-shadow: -2px 6px 17px 0px #7f818e;}
.m_cont2 .m_slide1 .item:focus > .item_inner{transform: translateY(-20px); outline:2px dashed #EA5107; box-shadow: -2px 6px 17px 0px #7f818e;}

.m_cont2 .item_inner .img_box{width:100%; height:220px;}
.m_cont2 .item_inner .img_box >img{width:100%; height: 100%; object-fit: cover;}
.m_cont2 .item_inner .txt_box{ position: relative; padding:25px 20px; background-color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.m_cont2 .item_inner .txt_box h4{font-size:19px; padding-bottom:24px; }
.m_cont2 .item_inner .txt_box li{font-size:14px; font-weight: 400; color:#818181; margin-bottom:8px;}
.m_cont2 .item_inner .txt_box li >span:nth-child(1){display: inline-block; width:65px; padding-right:6px; box-sizing: content-box; position: relative;}
.m_cont2 .item_inner .txt_box li >span:nth-child(1)::after{content:':'; display: inline-block; padding-right:6px; position: absolute; right:0; top:50%; transform: translateY(-50%); }

.m_cont2 .control{position: relative; width: 100%;}
.m_cont2 .control .swiper_arrow{max-width:400px; height:40px; overflow: hidden; position: relative; left:50%; transform: translateX(-50%);}
.m_cont2 .control .swiper_arrow >button{width:30px; height:30px; background-color:#fff; border: 1px solid #DADADA; border-radius: 50%; padding:10px; top:25px; }
.m_cont2 .control .scrollbar_box{max-width:300px; height:40px; position: relative; left:50%; transform: translateX(-50%); top:-55px;}
.swiper-scrollbar-drag{ background: none; }
.swiper-scrollbar-drag:after{content: ""; width: 40px; height: 15px; border-radius: 20px; background-color:var(--color--oran) ; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.m_cont2::after{
    content:'';
    display: block;
    background: #F4F6FB;
    width: 100%;
    height: 845px;
    position: absolute;
    left:0;
    top:-120px;
    z-index: -1;
}

/* m_cont3 */
.m_cont3 {background-color: #F4F6FB;}
.m_cont3 .top_cont > .inner2{position: relative;}
.m_cont3 .top_cont{padding-top:80px; background-image: url('../images/mbg09.png'); background-repeat: no-repeat; background-position: center top;  max-width: 2000px; margin:0 auto; }
.m_cont3 .top_cont h3{color:#fff; padding-top:30px; text-shadow: 3px 3px 0px #0F8B65;
    font-size: clamp(2.6875rem, 2.4514rem + 1.0494vw, 3.75rem);}
.m_cont3 .top_cont .tab_box{width: 100%; padding-top:40px; position: relative; z-index:98;}

.m_cont3 .top_cont > .inner2::before{
    content: '';
    display: block;
    width: 288px;
    height: 622px;
    background:url('../images/mbg_04.png') no-repeat;
    position: absolute;
    right: -140px;
    top: -150px;
    z-index: 99;
}
.m_cont3 .top_cont ul{display: flex; padding:80px 0 130px; align-items:stretch; justify-content: space-between;}
.m_cont3 .top_cont ul >li{width: calc(100% / 4 - 20px)}
.m_cont3 .top_cont ul >li >a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    background-color: #eefff4;

}
.m_cont3 .top_cont ul a .tit_box{
    font-weight: 700;
    color:#fff;
    background-color: #005f56;
    padding:25px 10px 13px;
    text-align: center;
    font-size:clamp(0.9375rem, 0.7375rem + 0.6667vw, 1.5625rem);
    
}
.m_cont3 .top_cont ul a .desc_box {
    padding:20px 10px 0;
    text-align: center;
    font-weight: 500;
    height: auto;
    min-height: calc(100% - 62px);
    font-size: clamp(0.8125rem, 0.7525rem + 0.2vw, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m_cont3 .top_cont ul >li >a:hover .desc_box >span,
.m_cont3 .top_cont ul >li >a:focus .desc_box >span{text-decoration: underline; text-underline-offset: 3px;}

.chk_tap_box .tab_in_tit{width: 100%; text-align: center;}
.chk_tap_box .tab_in_tit >span{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding:18px 45px 10px;
    border-radius: 30px;
    border:1px solid #333;
}
.chk_tap_box .tab_in_tit > p{
    padding: 30px 0;
    font-size: 22px;
    font-weight: 300;
}

.m_cont3 .bott_cont{width: 100%;}
.m_cont3 .bott_cont >h3{display: none; }
.m_cont3 .bott_cont .slide_box{max-width: 2000px; margin:0 auto; position: relative;}
.m_cont3 .bott_cont .m_slide2 .slick-slide{height:448px; overflow: hidden; position: relative;}
.m_cont3 .bott_cont .m_slide2 .slick-slide:focus{outline-offset: -2px;}
.m_cont3 .bott_cont .m_slide2 .img_box{width: 100%; height: 100%; }
.m_cont3 .bott_cont .m_slide2 .img_box >img{width: 100%; height: 100%; object-fit: cover;}

.m_cont3 .bott_cont .m_slide2 .txt_box{width: 100%; position: absolute; left:0; bottom:0; background-color:rgba(0,0,0,0.5); padding:25px 0; color:#fff;}
.m_cont3 .bott_cont .m_slide2 .box_inner{max-width:1200px; margin:0 auto;}
.m_cont3 .bott_cont .m_slide2 .txt_box h4{ font-family: 'Jalnan', sans-serif; font-size: 30px; padding-bottom: 15px;}
.m_cont3 .bott_cont .m_slide2 .txt_box .desc{display: flex; align-items: center; justify-content: space-between; font-size: 0.8em;}
.m_cont3 .bott_cont .m_slide2 .txt_box .desc > div {display: flex; align-items: center; gap:10px;}
.m_cont3 .bott_cont .m_slide2 .txt_box .txt >p:nth-child(1){color:#FFE147; font-size:17px;}
.m_cont3 .bott_cont .m_slide2 .txt_box .link >p:nth-child(1){padding-top:10px; font-weight: 400;}
.slick-slide .box_inner {
    opacity:0;
    transition:opacity 0.1s ease-out;
}

.slick-current .box_inner + .slick-slide .box_inner {
    opacity: 0;
}

.slick-active, .slick-active .box_inner {
    opacity:1!important;
    transition:opacity 1s ease-in 0.5s;
}
.m_cont3 .auto_control{width: 100%; height:123px; padding:25px 0; position: absolute; left:0; bottom:0;}
.m_cont3 .auto_control .inner_box{max-width:1200px; height:100%; margin:0 auto; position: relative;}
.m_cont3 .slide_box .btn{
    width: 28px;
    height: 28px;
    border:1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat ;
    position: absolute;
    right:160px;
    bottom:-5px;
}
.m_cont3 .slide_box .btn.stop{background-image: url('../images/stop_icon01.png');}
.m_cont3 .slide_box .btn.play{background-image: url('../images/play_icon01.png');}


/* m_cont4 */
.m_cont4 {padding:0 0 55px; background-color: #FAF4E4;}
.m_cont4 >.inner2{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom:35px;
    padding-top:85px;
    background-image: url('../images/mbg_05.png'); background-repeat: no-repeat; background-position: 320px bottom;
}
.m_cont4 .inner2 >div{width: 345px; position: relative;}
.m_cont4 h3{font-size: 25px; padding-bottom:20px; text-align: left;}


.m_cont4 .cont1 .tap_tit {overflow: hidden; padding-bottom:20px; padding-top:2px;}
.m_cont4 .cont1 .tap_tit >li{ float:left; padding:0 6px; position: relative; z-index: 999; }
.m_cont4 .cont1 .tap_tit >li:nth-child(1){padding-left:0;}
.m_cont4 .cont1 .tap_tit >li >a{color:#9F9C92; font-size:17px; font-weight: 700; position: relative; }
.m_cont4 .cont1 .tap_tit >li.on >a::after{
    content: '';
    display: inline;
    width:100%;
    height:10px;
    background-color: rgba(255, 225, 71,0.8);
    border-radius: 5px;
    position: absolute;
    left:0;
    bottom:3px;
    z-index: -1;
}
.m_cont4 .cont1 .tap_tit >li.on >a,
.m_cont4 .cont1 .tap_tit >li >a:hover{color:#333;}

.m_cont4 .cont1 .tab_inner >li{padding-top:15px; display: flex; align-items: center; flex-direction: row; gap:15px;}
.m_cont4 .cont1 .tab_inner .img_box{width:60px; height:60px;  border-radius:50%; overflow: hidden; box-shadow: 1px 2px 5px rgba(0,0,0,0.2);}
.m_cont4 .cont1 .tab_inner .img_box >img{width: 100%; height: 100%; object-fit: cover;}
.m_cont4 .cont1 .tab_inner .txt_box{max-width:calc(100% - 75px); padding:16px 15px 11px; border-radius: 0 10px 10px 10px; background-color: #fff;position: relative;  box-shadow: var(--box--shbl);}
.m_cont4 .cont1 .tab_inner .txt_box>p{ white-space: nowrap;  text-overflow: ellipsis; overflow: hidden;}
.m_cont4 .cont1 .tab_inner .txt_box::before{
    content:'';
    display: block;
    width: 15px;
    height: 15px;
    background:url('../images/bubble_add01.png') center center no-repeat;
    background-size: 100%;
    position: absolute;
    left:-14px;
    top:-1px;
    
}

.m_cont4 .cont2 .m_slide3{border-radius: 10px; box-shadow: var(--box--shbl); overflow: hidden;}
.m_cont4 .cont2 .itme{width:100%; height:357px;}
.m_cont4 .cont2 .itme:focus{outline-offset: -2px;}
.m_cont4 .cont2 .itme >.img_box{height: 100%;}
.m_cont4 .cont2 .itme >.img_box > img{width:100%; height: 100%; object-fit: fill;}
.m_cont4 .cont2 .alrArrows{display: flex; align-items: center;  justify-content: flex-end; gap:5px; position: absolute; right:0; top:0;}
.m_cont4 .cont2 .alrArrows >div{padding-right:15px;}
.m_cont4 .cont2 .alrArrows .slides-numbers{font-size:13px; color:#8E8E8E; letter-spacing: -0.1em;}
.m_cont4 .cont2 .alrArrows .slides-numbers >span:nth-child(1){font-size:15px; font-weight: 700; color:#333;}
.m_cont4 .cont2 .alrArrows > button{width:25px; height:25px; border-radius: 50%; border:1px solid #8E8E8E;}
.m_cont4 .cont2 .alrArrows > .arrow.alrPrev{padding:6px 7px 6px 5px;}
.m_cont4 .cont2 .alrArrows > .arrow.alrNext{padding:6px 6px 6px 6px;}
.m_cont4 .cont2 .alrArrows > .alrcontrol.stop{background: url('../images/stop_icon02.png') center center no-repeat;}
.m_cont4 .cont2 .alrArrows > .alrcontrol.play{background: url('../images/play_icon02.png') center center no-repeat;}

.m_cont4 .cont3 .prop_box{padding:15px 12px; background-color: #0C87D5; border-radius: 10px; box-shadow: var(--box--shbl);}
.m_cont4 .cont3 .img_tit{text-align: center;}
.m_cont4 .cont3 .img_tit >p{position: relative; width: 242px; margin:0 auto;}
.m_cont4 .cont3 .img_tit >p::after{
    content:'';
    width:85px;
    height:74px;
    display: block;
    background-image: url('../images/mbg_06_02.png');
    position: absolute;
    bottom:-16px;
    right:0;
}
.m_cont4 .cont3 .txt_img{
    min-height:152px;
    border-radius: 10px;
    margin-bottom:20px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.m_cont4 .cont3 .txt_img >p{width: 138px;}
.m_cont4 .cont3 .prop_box .prop_btn{width: 100%; padding:18px 0 15px; border-radius: 10px;  text-align: center; font-weight: 700; font-size: 18px; color:#0965A0; background-color: #B4E4FF;}
.m_cont4 .cont3 .prop_box .prop_btn:hover,
.m_cont4 .cont3 .prop_box .prop_btn:focus{background-color:#0965A0; color:#fff;}