* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

li {
    list-style: none;
}

a {
    display: block;
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

img,
video {
    width: 100%;

}

$font-family: 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bld {
    font-weight: 700;
}

html {
    font-size: 10px;
    font-family: #{$font-family};
    letter-spacing: -1px;

}

#header {
    position: relative;

    .h_inner {
        width: 100%;
        margin: 0 auto;

        h1 {
            width: 142px;
            height: 46px;
            position: absolute;
            left: 70px;
            top: 25px;
        }

        .gnb_wrap {
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            padding: 40px 0 30px;


            #gnb {
                ul {
                    width: 630px;
                    overflow: hidden;
                    margin: 0 auto;

                    li {
                        width: calc(100% / 5);
                        float: left;
                        font-size: 1.8rem;
                        font-weight: 700;
                        text-align: center;

                        a {
                            margin: 2px;
                        }
                    }
                }
            }

            .gnb_menu {
                width: 100%;
                height: 0;
                position: absolute;
                left: 0;
                top: 96px;
                // display: none;
                transition: all 0.5s;
                overflow: hidden;
                background-color: #fff;

                &_cont {
                    width: 630px;
                    margin: 0 auto;
                    overflow: hidden;
                    padding: 20px 0;

                    ul {
                        float: left;
                        width: calc(100% / 5);
                        min-height: 220px;
                        font-size: 1.6rem;
                        text-align: center;


                        li {
                            padding: 10px 0;
                        }
                    }

                    ul:after {
                        content: '';
                        display: block;
                        clear: both;
                    }


                }
            }

            &.active {
                .gnb_menu {
                    height: 260px;

                }
            }
        }

        .side_top_menu {
            position: absolute;
            right: 70px;
            top: 25px;
            overflow: hidden;

            li {
                float: left;
                text-align: center;
                padding: 10px;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }

}

.m_visual {
    background-color: bisque;
    overflow-x: none;
    overflow: hidden;

    .visual_text {

        position: fixed;
        top: 240px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 9999;

        p {
            font-size: 5.6rem;
        }

        .scrolldown {
            position: relative;
            margin: 40px auto;

            img:nth-child(1) {
                width: 120px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                animation: rotate 20s infinite;
            }

            img:nth-child(2) {
                width: 38px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .visual_imgs {

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ul {
            width: 100%;
            height: 100vh;
            display: flex;
            gap: 50px;
            justify-content: center;

            .imgLine_01 {
                margin-top: 700px;
            }

            .imgLine_02 {
                margin-top: 500px;

                div:nth-child(2) {
                    margin-top: 30px;
                }
            }

            .imgLine_03 {
                margin-top: 600px;

                .swiper-slide {
                    position: relative;

                    .img_box {
                        height: 100%;
                    }

                    .txt_box {
                        position: fixed;
                        left: 20%;
                        top: 45%;
                        transform: translateY(-50%);
                        font-size: 5.8rem;
                        color: #fff;
                        font-weight: 700;
                        opacity: 0;
                    }
                }
            }


            .img_block {
                width: 20vw;
                border-radius: 20px;
                overflow: hidden;
            }

            .img_block_Main {
                width: 30vw;
                border-radius: 20px;
                position: relative;
                overflow: hidden;

                .dock {
                    position: absolute;
                    left: 20%;
                    top: 60%;
                    transform: translateY(-50%);
                    z-index: 99;
                    display: flex;
                    align-items: center;
                    opacity: 0;

                    p,
                    div {
                        flex: 1 1 0;
                    }

                    .mSwiper-btn-prev,
                    .mSwiper-btn-next {
                        cursor: pointer;
                    }


                    .mSwiper-fraction {
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .autoplay-progress {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg {
            --progress: 0;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: #fff;
            fill: none;
            stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);

        }

        button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: 0;
        }
    }
}

.cont_title {
    text-align: center;

    .tit:nth-child(1) {
        font-size: 3.6rem;
    }

    .tit:nth-child(2) {
        font-size: 5.6rem;
        padding: 15px 0 40px;
        font-weight: 700;
    }

    .tit:nth-child(3) {
        font-size: 2.4rem;
    }
}

@mixin fadeDw {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease;
}

@mixin fadeUp {
    transform: translateY(0);
    opacity: 1;
}

.ani {
    @include fadeDw;
}

.m_content {
    padding: 170px 0;
}

.cont1 {
    .eco_area {
        max-width: 1420px;
        margin: 0 auto;

        .eco_tit {
            text-align: center;
        }

        .eco_cont {
            display: grid;
            padding-top: 170px;
            color: #fff;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 112px;

            a {
                font-size: 2.3rem;
                color: #fff;
                border-radius: 15px;
                overflow: hidden;

                background-image: url('/images/energy_1.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                transition: transform 0.5s ease, opacity 0.5s ease;


                .eco_cont_tit {
                    padding: 45px 40px 0;
                    font-size: 3.8rem;
                    display: flex;
                    justify-content: space-between;

                    .arrow_box {
                        position: relative;
                        width: 70px;
                        height: 70px;

                        p {
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        .arrow {
                            opacity: 1;
                        }

                        .arrow.hvr {
                            opacity: 0;
                        }
                    }
                }

                span {
                    display: none;
                    padding: 40px 40px;
                    font-size: 2.2rem;
                }

                &:hover,
                &:focus {
                    span {
                        display: block;
                    }

                    .eco_cont_tit {
                        .arrow_box {
                            .arrow {
                                opacity: 0;
                            }

                            .arrow.hvr {
                                opacity: 1;
                            }
                        }
                    }
                }

                &:hover::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%);
                    content: '';
                    opacity: 0.7;
                }
            }

            .img_block01 {
                max-width: 628px;
                height: 640px;
                grid-row: 1/3;
                margin-top: 100px;

                &:hover {
                    background-image: url('/images/energy_1_hover.jpg');
                }
            }

            .img_block02 {
                max-width: 680px;
                height: 483px;
                background-image: url('/images/energy_2.jpg');

                &:hover {
                    background-image: url('/images/energy_2_hover.jpg');
                }
            }

            .img_block03 {
                max-width: 520px;
                height: 530px;
                background-image: url('/images/energy_3.jpg');

                &:hover {
                    background-image: url('/images/energy_3_hover.jpg');
                }
            }

        }



        &.active {
            .eco_tit {
                @include fadeUp;
            }

            a {
                @include fadeUp;
            }

            .img_block01 {
                transition-delay: 0.6s;
            }

            .img_block02 {
                transition-delay: 0.3s;
            }

            .img_block03 {
                transition-delay: 0.8s;
            }

        }
    }
}

.cont2 {
    padding: 0;
    padding-top: 170px;
    background-color: #E9F3FF;

    .innovation_area {
        .link_b {
            padding: 50px 0 80px;
            text-align: center;

            transition-delay: 0.3s;

            a {
                display: inline-block;
                background-color: #107AF2;
                color: #fff;
                padding: 20px 50px;
                font-size: 2rem;
                border-radius: 35px;
            }
        }

        .innovation_img {
            display: flex;
            transition-delay: 0.6s;

            p {
                flex: 1 1 0;
            }
        }

        &.active {
            .cont_title {
                @include fadeUp;
            }

            .link_b {
                @include fadeUp;
            }

            .innovation_img {
                @include fadeUp;
            }
        }
    }
}

.cont3 {

    .story_area {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        gap: 160px;

        .lft_box {
            width: 40%;
        }

        .rig_box {
            width: 60%;
        }

        .story_tit {
            font-size: 5.6rem;
            font-weight: 700;

        }

        .tab_select {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding-top: 60px;


            a {
                padding: 10px 35px;
                font-size: 2.5rem;
                text-align: center;
                background-color: #F2F4F9;
                border-radius: 40px;

                border: 1px solid transparent;

                &:last-child {
                    background-color: #fff;
                    border: 1px solid #DAE0E9;
                    color: #788190;

                }

                &:hover:not(:last-child) {
                    color: #fff;
                    background-color: #107AF2;
                    font-weight: 700;
                }

                &.on:not(:last-child) {
                    color: #fff;
                    background-color: #107AF2;
                    font-weight: 700;
                }
            }



        }

        .tab_content {
            .tabCont {
                display: none;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 60px;
                    // @include fadeDw();

                    li {
                        @include fadeDw();

                        a {
                            height: 353px;
                            display: flex;
                            overflow: hidden;
                            border-radius: 20px;
                            box-sizing: border-box;
                            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);

                            .txt_box {
                                width: 50%;
                                padding: 40px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                box-sizing: border-box;

                                .category {
                                    font-size: 1.6rem;
                                    color: #40C58E;
                                    font-weight: 700;
                                }

                                .title {
                                    font-size: 2.6rem;
                                    padding-bottom: 20px;
                                    font-weight: 700;
                                }

                                .tags {
                                    font-size: 1.6rem;
                                    color: #788190;
                                }
                            }

                            .img_box {
                                width: 50%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                        }
                    }
                }

                &.on {
                    display: block;
                }
            }

        }

        // add active
        &.active {
            .story_tit {
                @include fadeUp;
            }

            .tab_select {
                @include fadeUp;
                transition-delay: 0.3s;
            }

            .tab_content {
                .tabCont {
                    li {
                        @include fadeUp();
                    }
                }

            }
        }


    }
}

.cont4 {
    background: url("/images/main-esg.jpg") center center no-repeat;

    .sustainable_area {
        max-width: 1280px;
        margin: 0 auto;
        color: #fff;

        .sustainable_cont {
            padding-top: 120px;
            display: flex;
            gap: 50px;
            justify-content: space-around;
            align-items: center;

            a {
                width: 260px;
                height: 260px;
                font-size: 1.8rem;
                font-weight: 700;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF0D;
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 50%;
                overflow: hidden;

                p {
                    max-width: 85px;
                }

                .arrow_w {
                    width: 25px;
                    vertical-align: middle;
                }

                // hover
                &:hover {
                    background-color: #FFFFFF21;
                }
            }
        }

        // active
        &.active {
            .cont_title {
                @include fadeUp();
            }

            .sustainable_cont {
                li {
                    @include fadeUp();
                }
            }
        }
    }
}

.cont5 {
    .shortcut_area {
        max-width: 1280px;
        margin: 0 auto;

        .short_grid {
            display: grid;
            gap: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                'a b'
                'c b'
                'c d'
                'c d';

            height: 1026px;

            li {
                height: 100%;

                font-weight: 700;
                border-radius: 20px;
                text-align: center;
                color: #fff;
            }

            li:nth-child(1) {
                grid-area: a;
                background-color: #00CAD8;
            }

            li:nth-child(2) {
                grid-area: b;

                background-color: #15D886;

                a:hover {
                    background: url('/images/short_hover_01.jpg') left top no-repeat;
                    background-size: 100%;
                }
            }

            li:nth-child(3) {
                grid-area: c;
                color: #07B9C5;
                background-color: #E1F7F8;
            }

            li:nth-child(4) {
                grid-area: d;
                background-color: #3693FF;

                a:hover {
                    background: url('/images/short_hover_02.jpg') left top no-repeat;
                    background-size: 100%;
                }
            }

            li:nth-child(odd) {
                font-size: 5.2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    display: inline-block;
                    padding-bottom: 20px;
                    font-weight: 400;
                    font-size: 3.4rem;
                }
            }

            li:nth-child(even) {
                font-size: 3.6rem;
            }

            .hv_img {
                height: 100%;
                color: #fff;
                border-radius: 20px;
                padding: 50px;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                position: relative;

                .short_cont_tit {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 75px;

                    .arrow_box {
                        position: relative;
                        width: 70px;

                        .arrow {
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        .arrow.hvr {
                            display: none
                        }
                    }
                }

                .dec {
                    opacity: 0;
                    text-align: left;
                    font-weight: 400;
                    font-size: 2.2rem;
                }

                // hover
                &:hover {

                    .arrow_box {
                        .arrow {
                            display: none;
                        }

                        .arrow.hvr {
                            display: block;
                        }
                    }

                    .dec {
                        opacity: 1;
                    }

                    &::after {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%);
                        content: "";
                        opacity: 0.3;
                        border-radius: 20px;
                    }
                }
            }


        }

        // active
        &.active {
            .short_grid {
                @include fadeUp()
            }
        }
    }
}

#footer{background-color: ;}