@keyframes bgMove {
    0% {background-position: left;}
    100% {background-position: right;}
}

@keyframes spin{
    0% {
        --rotate: 0deg;
      }
      100% {
        --rotate: 360deg;
      }
}

@keyframes move{
  0% {
    transform: translate(-50%,0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,40px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,60px);
    opacity: 0;
  }
}

@keyframes opa{
  0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}