@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root{
    /* web-color */
    --color-web1: #166562;
    --color-web2: #74821f;
    --color-web3: #EFB979;
    --color-web4: #696969;
}